/* liste des variables */

:root {
    --blanc: hsl(0, 0%, 100%);
    --noir: hsl(0, 0%, 0%);
    --orange: hsl(12, 100%, 64%);
    --gris: hsl(0, 0%, 40%);
    --vert: hsl(66, 40%, 61%);
    --vert-hover: hsl(66, 30%, 51%);
}