@charset "UTF-8";
/* liste des variables */
:root {
  --blanc: hsl(0, 0%, 100%);
  --noir: hsl(0, 0%, 0%);
  --orange: hsl(12, 100%, 64%);
  --gris: hsl(0, 0%, 40%);
  --vert: hsl(66, 40%, 61%);
  --vert-hover: hsl(66, 30%, 51%);
}

/*////[HTML & BODY]
________________________________________________________*/
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.unscrollable {
  overflow: hidden;
}

/*////[INTERFACE ET FOOTER]
________________________________________________________*/
div.interface, footer {
  margin-left: auto;
  margin-right: auto;
}

.displayNone {
  display: none;
}

/*////[INTERFACE]
________________________________________________________*/
/* Grille pour le mobile */
/* Sous grille du contenu */
/*////[HEADER]
________________________________________________________*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2em;
  position: fixed;
  top: 0;
  background-color: var(--blanc);
  z-index: 100;
}

header a {
  width: 15em;
  z-index: 1000;
}

header i.material-icons {
  display: block;
  font-size: 3em;
  position: absolute;
  top: 0.4em;
  left: 0.4em;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* DESKTOP */
@media screen and (min-width: 1920px) {
  header {
    background-image: url(../01_Images/restaurant_1920x621.jpg);
    background-size: cover;
    background-position: center;
    height: 30em;
    z-index: 0;
    position: unset;
  }
  header i.material-icons {
    display: none;
  }
  header a {
    width: 35%;
    margin-top: -15em;
  }
}

/*////[LIENS]
________________________________________________________*/
nav {
  background-color: var(--noir);
  padding: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav i.close {
  display: block;
  color: var(--orange);
  font-size: 2em;
}

nav ul {
  font-size: 2em;
  height: 85vh;
  position: relative;
  top: 5em;
  line-height: 2em;
}

nav ul a {
  text-decoration: none;
  color: var(--blanc);
}

nav ul li {
  list-style-type: none;
}

nav ul li::after {
  display: block;
  position: relative;
  top: -10px;
  content: "";
  width: 95%;
  height: 1px;
  background-color: var(--blanc);
}

nav img {
  display: block;
  margin-top: -3em;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 30%;
}

/*////[ANIMATION]
________________________________________________________*/
@-webkit-keyframes menu_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ouvert {
  display: block;
  -webkit-animation-name: menu_animation;
          animation-name: menu_animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fermer {
  display: none;
  opacity: 0;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* TABLETTE VERTICALE */
@media screen and (min-width: 768px) {
  nav img {
    margin-top: -6em;
  }
}

/* DESKTOP */
@media screen and (min-width: 1920px) {
  nav {
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
  }
  nav i.close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: unset;
    height: 100%;
    width: 55%;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  nav ul a {
    width: 30em;
    height: 100%;
    text-decoration: none;
    color: var(--blanc);
  }
  nav ul a li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  nav ul a li::after {
    display: none;
  }
  nav ul a li:hover {
    background-color: var(--orange);
  }
  nav img {
    display: none;
  }
}

/* Navigation de la langue */
/* Liste des produits */
section.liste h1 {
  display: none;
}

section.liste ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

section.liste ul li {
  list-style-type: none;
  text-align: right;
  height: 70em;
}

section.liste ul li h2 {
  position: relative;
  top: 6.5em;
  font-size: 2.5em;
  font-weight: 700;
  font-style: italic;
  color: var(--orange);
  margin: 0;
}

section.liste ul li p.numero {
  position: relative;
  font-family: 'Seymour One', sans-serif;
  font-size: 15em;
  margin: 0;
  top: 1.7em;
  right: 0;
}

section.liste ul li img {
  display: block;
}

section.liste ul li p {
  font-size: 1.5em;
}

section.liste ul li a {
  text-decoration: none;
  color: var(--blanc);
  text-transform: uppercase;
  display: block;
  position: relative;
  left: 5em;
  top: 2em;
}

section.liste ul li a div.boutonListe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--vert);
  font-size: 2em;
  width: 40%;
  height: 2.5em;
  border-radius: 0.5em;
}

/* Publicité */
/*////[FOOTER]
________________________________________________________*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10em;
  background-color: var(--noir);
  color: var(--blanc);
}

footer p {
  height: 100%;
  margin-top: 8em;
  font-size: 0.6em;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* DESKTOP */
@media screen and (min-width: 1920px) {
  footer {
    margin-top: -15em;
  }
}

/*////[LAYOUT DE L'ARTICLE]
________________________________________________________*/
article.articleLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

article.articleLayout span {
  font-size: 16em;
  font-family: Seymour One;
  color: var(--blanc);
  -webkit-text-stroke: 5px var(--noir);
  letter-spacing: -0.125em;
  position: absolute;
  top: 0.28em;
}

article.articleLayout h3 {
  display: none;
}

article.articleLayout aside.membre {
  display: none;
}

article.articleLayout h1 {
  color: var(--orange);
  font-size: 2.3em;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  top: -3em;
}

article.articleLayout h4 {
  display: none;
}

article.articleLayout p.info {
  font-size: 1.25em;
  width: 90%;
  text-align: justify;
  text-align-last: center;
  position: relative;
  top: -9.2em;
  font-weight: bolder;
}

article.articleLayout section.article {
  margin-top: -13em;
}

article.articleLayout section.article h2 {
  color: var(--orange);
  font-size: 2.5em;
  text-align: center;
}

article.articleLayout section.article p {
  margin: auto;
  margin-top: -1em;
  width: 90%;
  font-size: 1em;
  text-align: justify;
  text-align-last: center;
}

article.articleLayout section.bonheur {
  margin-top: -8em;
}

article.articleLayout section.bonheur h2 {
  text-align: end;
  position: relative;
  top: 3.5em;
  right: 1em;
  line-height: 1.5em;
}

article.articleLayout section.bonheur p {
  text-align: end;
  width: 75%;
  position: relative;
  top: -10em;
  right: -1.5em;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.75);
}

article.articleLayout section.bonheur img {
  width: 75%;
}

article.articleLayout section.promo {
  margin-top: -8em;
  margin-bottom: 1em;
}

article.articleLayout section.promo img {
  height: 6.5em;
}

article.articleLayout section.recettes h2 {
  width: 80%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: -0.5em;
  color: var(--orange);
  font-size: 2em;
  text-align: center;
}

article.articleLayout section.recettes p {
  margin: auto;
  padding: 1em;
  width: 90%;
  font-size: 1em;
  text-align: justify;
  text-align-last: center;
}

article.articleLayout section.recettes a.lien_recette, article.articleLayout section.recettes div.suggestion a, article.articleLayout section.recettes div.suggestion:nth-of-type(2) a, article.articleLayout section.recettes div.suggestion:nth-of-type(3) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--blanc);
  text-decoration: none;
  width: 15em;
  height: 3em;
  background-color: var(--vert);
  border-radius: 1em;
}

article.articleLayout section.recettes div.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -10em;
  color: var(--blanc);
}

article.articleLayout section.recettes div.suggestion img {
  width: 100%;
}

article.articleLayout section.recettes div.suggestion h3 {
  display: block;
  text-align: center;
  position: relative;
  top: -14.5em;
  font-size: 2em;
}

article.articleLayout section.recettes div.suggestion p.info_suggestion {
  position: relative;
  bottom: 18em;
}

article.articleLayout section.recettes div.suggestion a {
  position: relative;
  bottom: 18em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(2) {
  margin-bottom: -20em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(2) p.info_suggestion {
  position: relative;
  bottom: 27em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(2) a {
  position: relative;
  bottom: 27em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(3) p.info_suggestion {
  position: relative;
  bottom: 21em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(3) a {
  position: relative;
  bottom: 21em;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* TABLETTE VERTICALE */
@media screen and (min-width: 768px) {
  article.articleLayout h1 {
    top: -2em;
  }
  article.articleLayout p.info {
    top: -6em;
    font-size: 1em;
    width: 100%;
  }
  article.articleLayout section.article h2 {
    margin-top: 5em;
    text-align: left;
    font-size: 1.5em;
    margin-left: 1em;
  }
  article.articleLayout section.article p {
    text-align: left;
    text-align-last: left;
    width: 95%;
    margin-left: 1.6em;
  }
  article.articleLayout section.article section.bonheur {
    width: 100vw;
  }
  article.articleLayout section.article section.bonheur h2 {
    text-align: left;
    top: 1em;
    right: 0;
    width: 30em;
  }
  article.articleLayout section.article section.bonheur h2 br {
    display: none;
  }
  article.articleLayout section.article section.bonheur img {
    width: 100%;
  }
  article.articleLayout section.article section.bonheur p {
    text-align: left;
    width: 90%;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    color: var(--blanc);
  }
  article.articleLayout section.promo {
    margin-top: -5em;
    margin-bottom: 1em;
  }
  article.articleLayout section.promo img {
    height: 11em;
  }
  article.articleLayout section.recettes h2 {
    text-align: left;
    font-size: 1.5em;
    margin-left: 0;
  }
  article.articleLayout section.recettes p {
    text-align: left;
    text-align-last: left;
    margin-left: -1em;
  }
  article.articleLayout section.recettes div.suggestion {
    color: var(--noir);
    display: block;
    margin-top: 2em;
  }
  article.articleLayout section.recettes div.suggestion img {
    width: 182px;
  }
  article.articleLayout section.recettes div.suggestion h3 {
    font-size: 1.5em;
    margin-left: -2em;
    margin-top: 7em;
    color: var(--gris);
  }
  article.articleLayout section.recettes div.suggestion p.info_suggestion {
    width: 30em;
    margin-left: 12em;
    margin-top: -5em;
  }
  article.articleLayout section.recettes div.suggestion a {
    margin-left: 13em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) {
    margin-top: -12em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) h3 {
    margin-left: 1em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) p.info_suggestion {
    margin-top: 5em;
  }
  article.articleLayout section.recettes div.suggestion:last-of-type {
    margin-top: -22em;
  }
  article.articleLayout section.recettes div.suggestion:last-of-type h3 {
    margin-left: 2em;
  }
  article.articleLayout section.recettes div.suggestion:last-of-type p.info_suggestion {
    margin-top: -2em;
  }
}

/* TABLETTE HORIZONTALE */
@media screen and (min-width: 1024px) {
  article.articleLayout h1 {
    font-size: 4em;
  }
  article.articleLayout p.info {
    font-size: 1.5em;
    margin-top: -1em;
  }
  article.articleLayout section.article {
    margin-top: -17em;
  }
  article.articleLayout section.article h2 {
    font-size: 2em;
  }
  article.articleLayout section.article p {
    font-size: 1.5em;
    margin-top: 0.5em;
  }
  article.articleLayout section.article section.bonheur {
    margin-top: -15em;
  }
  article.articleLayout section.article section.bonheur h2 {
    font-size: 3em;
    top: 2em;
  }
  article.articleLayout section.article section.bonheur h2 br:last-of-type {
    display: block;
  }
  article.articleLayout section.promo {
    margin-top: -7em;
    margin-bottom: 3em;
  }
  article.articleLayout section.promo img {
    height: 15.5em;
  }
  article.articleLayout section.recettes h2 {
    font-size: 2em;
    margin-bottom: 0.25em;
  }
  article.articleLayout section.recettes p {
    font-size: 1.25em;
  }
  article.articleLayout section.recettes div.suggestion img {
    width: 242px;
  }
  article.articleLayout section.recettes div.suggestion h3 {
    font-size: 2em;
  }
  article.articleLayout section.recettes div.suggestion p.info_suggestion {
    margin-top: -7em;
    margin-left: 13.35em;
  }
  article.articleLayout section.recettes div.suggestion a {
    margin-top: -2em;
    margin-left: 17.35em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) p.info_suggestion {
    margin-top: 4em;
    margin-left: 13em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) a {
    margin-top: -5em;
  }
  article.articleLayout section.recettes div.suggestion:last-of-type p.info_suggestion {
    margin-top: -3.5em;
    margin-left: 13.35em;
  }
  article.articleLayout section.recettes div.suggestion:last-of-type a {
    margin-top: -3em;
  }
}

/* DESKTOP */
@media screen and (min-width: 1920px) {
  article.articleLayout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    margin: auto;
    background-color: var(--blanc);
    position: relative;
    top: -15em;
    padding-top: 1em;
  }
  article.articleLayout span {
    display: none;
  }
  article.articleLayout > h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--vert);
    width: 90%;
    height: 2em;
    color: var(--blanc);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1em;
    font-weight: 400;
  }
  article.articleLayout aside.membre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    margin-left: 5%;
  }
  article.articleLayout aside.membre img {
    width: 11em;
  }
  article.articleLayout aside.membre p {
    font-size: 3em;
    margin: 0;
    text-align: center;
  }
  article.articleLayout aside.membre p:last-of-type {
    font-size: 2em;
  }
  article.articleLayout h1 {
    font-size: 4em;
    font-weight: 300;
    font-style: normal;
    color: var(--noir);
    width: 80%;
    margin-left: auto;
    margin-top: -2.5em;
  }
  article.articleLayout h4 {
    display: block;
    color: var(--gris);
    font-size: 1.5em;
    margin-top: -7em;
    margin-left: -26.5em;
  }
  article.articleLayout p.info {
    position: unset;
    width: 70%;
    margin-right: 10%;
    margin-left: auto;
    font-weight: 400;
    text-align: center;
    text-align-last: unset;
    margin-top: 0.5em;
    margin-bottom: 5em;
  }
  article.articleLayout section.article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin-top: -10em;
    margin-right: 2.5%;
    margin-left: auto;
  }
  article.articleLayout section.article h2 {
    margin-left: 5%;
    margin-right: auto;
  }
  article.articleLayout section.article p {
    margin-right: auto;
    margin-left: 5%;
  }
  article.articleLayout section.article section.bonheur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -12em;
    margin-left: 5%;
    margin-right: auto;
    position: unset;
    width: 80%;
  }
  article.articleLayout section.article section.bonheur h2 {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-right: auto;
    margin-top: 7em;
    font-size: 2em;
    width: 100%;
  }
  article.articleLayout section.article section.bonheur h2 br:last-of-type {
    display: none;
  }
  article.articleLayout section.article section.bonheur picture {
    width: 60%;
  }
  article.articleLayout section.article section.bonheur p {
    color: var(--noir);
    font-size: 1em;
    font-weight: 400;
    width: 100%;
    margin: 0;
    margin-top: 12em;
    font-size: 1.5em;
  }
  article.articleLayout section.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 4em;
    top: 35em;
  }
  article.articleLayout section.promo img {
    width: 11em;
  }
  article.articleLayout section.promo img:nth-of-type(2) {
    height: 25em;
  }
  article.articleLayout section.recettes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-left: auto;
    margin-top: -13em;
    width: 78.5%;
  }
  article.articleLayout section.recettes p {
    font-size: 1.5em;
  }
  article.articleLayout section.recettes div.suggestion {
    width: 78.5%;
    margin: unset;
  }
  article.articleLayout section.recettes div.suggestion img {
    position: relative;
    left: -7em;
  }
  article.articleLayout section.recettes div.suggestion h3 {
    font-size: 1.5em;
    margin-top: 4em;
    margin-left: -8em;
  }
  article.articleLayout section.recettes div.suggestion p {
    font-size: 1em;
    font-weight: bolder;
    position: relative;
    top: -15em;
    left: -2.5em;
  }
  article.articleLayout section.recettes div.suggestion a {
    position: relative;
    top: -12em;
    left: -5em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(1) {
    margin-top: 2em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) {
    margin: unset;
    margin-top: -5em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) h3 {
    font-size: 1.5em;
    margin-top: 4em;
    margin-left: -4em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) p {
    font-size: 1em;
    font-weight: bolder;
    position: relative;
    top: -24em;
    left: -1.75em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(2) a {
    position: relative;
    top: -18em;
    left: -5em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(3) {
    margin: unset;
    margin-top: -15em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(3) h3 {
    font-size: 1.5em;
    margin-top: 4em;
    margin-left: -3em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(3) p {
    font-size: 1em;
    font-weight: bolder;
    position: relative;
    top: -19em;
    left: -1.75em;
  }
  article.articleLayout section.recettes div.suggestion:nth-of-type(3) a {
    top: -12em;
    position: relative;
    left: -5em;
  }
}

/* Gallerie d'images */
/* Login */
/*# sourceMappingURL=style.css.map */