@charset "UTF-8";
/* liste des variables */
:root {
  --blanc: hsl(0, 0%, 100%);
  --noir: hsl(0, 0%, 0%);
  --orange: hsl(12, 100%, 64%);
  --vert: hsl(66, 40%, 61%);
  --vert-hover: hsl(66, 30%, 51%);
}

/*////[HTML & BODY]
________________________________________________________*/
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.unscrollable {
  overflow: hidden;
}

/*////[INTERFACE ET FOOTER]
________________________________________________________*/
div.interface, footer {
  margin-left: auto;
  margin-right: auto;
}

.displayNone {
  display: none;
}

/*////[INTERFACE]
________________________________________________________*/
/* Grille pour le mobile */
/* Sous grille du contenu */
/*////[HEADER]
________________________________________________________*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2em;
  position: fixed;
  top: 0;
  background-color: var(--blanc);
  z-index: 100;
}

header a {
  width: 15em;
  z-index: 1000;
}

header i.material-icons {
  font-size: 3em;
  position: absolute;
  top: 0.4em;
  left: 0.4em;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* DESKTOP */
/*////[LIENS]
________________________________________________________*/
nav {
  background-color: var(--noir);
  padding: 2em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav i.close {
  color: var(--orange);
  font-size: 2em;
}

nav ul {
  font-size: 2em;
  height: 85vh;
  position: relative;
  top: 5em;
  line-height: 2em;
}

nav ul a {
  text-decoration: none;
  color: var(--blanc);
}

nav ul li {
  list-style-type: none;
}

nav ul li::after {
  display: block;
  position: relative;
  top: -10px;
  content: "";
  width: 95%;
  height: 1px;
  background-color: var(--blanc);
}

nav img {
  display: block;
  margin-top: -3em;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 30%;
}

/*////[ANIMATION]
________________________________________________________*/
@-webkit-keyframes menu_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ouvert {
  display: block;
  -webkit-animation-name: menu_animation;
          animation-name: menu_animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.fermer {
  display: none;
  opacity: 0;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* TABLETTE VERTICALE */
@media screen and (min-width: 768px) {
  nav img {
    margin-top: -6em;
  }
}

/* TABLETTE HORIZONTALE */
/* DESKTOP */
/* Navigation de la langue */
/* Liste des produits */
section.liste h1 {
  display: none;
}

section.liste ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

section.liste ul li {
  list-style-type: none;
  text-align: right;
  height: 70em;
}

section.liste ul li h2 {
  position: relative;
  top: 6.5em;
  font-size: 2.5em;
  font-weight: 700;
  font-style: italic;
  color: var(--orange);
  margin: 0;
}

section.liste ul li p.numero {
  position: relative;
  font-family: 'Seymour One', sans-serif;
  font-size: 15em;
  margin: 0;
  top: 1.7em;
  right: 0;
}

section.liste ul li img {
  display: block;
}

section.liste ul li p {
  font-size: 1.5em;
}

section.liste ul li a {
  text-decoration: none;
  color: var(--blanc);
  text-transform: uppercase;
  display: block;
  position: relative;
  left: 5em;
  top: 2em;
}

section.liste ul li a div.boutonListe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--vert);
  font-size: 2em;
  width: 40%;
  height: 2.5em;
  border-radius: 0.5em;
}

/* Publicité */
/*////[FOOTER]
________________________________________________________*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10em;
  background-color: var(--noir);
  color: var(--blanc);
}

footer p {
  height: 100%;
  margin-top: 8em;
  font-size: 0.6em;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* TABLETTE HORIZONTALE */
/* DESKTOP */
/*////[LAYOUT DE L'ARTICLE]
________________________________________________________*/
article.articleLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

article.articleLayout span {
  font-size: 16em;
  font-family: Seymour One;
  color: var(--blanc);
  -webkit-text-stroke: 5px var(--noir);
  letter-spacing: -0.125em;
  position: absolute;
  top: 0.28em;
}

article.articleLayout h3 {
  display: none;
}

article.articleLayout aside.membre {
  display: none;
}

article.articleLayout h1 {
  color: var(--orange);
  font-size: 2.3em;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  top: -3em;
}

article.articleLayout h4 {
  display: none;
}

article.articleLayout p.info {
  font-size: 1.25em;
  width: 90%;
  text-align: justify;
  text-align-last: center;
  position: relative;
  top: -9.2em;
  font-weight: bolder;
}

article.articleLayout section.article {
  margin-top: -13em;
}

article.articleLayout section.article h2 {
  color: var(--orange);
  font-size: 2.5em;
  text-align: center;
}

article.articleLayout section.article p {
  margin: auto;
  margin-top: -1em;
  width: 90%;
  font-size: 1em;
  text-align: justify;
  text-align-last: center;
}

article.articleLayout section.bonheur {
  margin-top: -8em;
}

article.articleLayout section.bonheur h2 {
  text-align: end;
  position: relative;
  top: 3.5em;
  right: 1em;
  line-height: 1.5em;
}

article.articleLayout section.bonheur p {
  text-align: end;
  width: 75%;
  position: relative;
  top: -10em;
  right: -1.5em;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.75);
}

article.articleLayout section.bonheur img {
  width: 75%;
}

article.articleLayout section.promo {
  margin-top: -8em;
  margin-bottom: 1em;
}

article.articleLayout section.promo img {
  height: 6.5em;
}

article.articleLayout section.recettes h2 {
  width: 80%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: -0.5em;
  color: var(--orange);
  font-size: 2em;
  text-align: center;
}

article.articleLayout section.recettes p {
  margin: auto;
  padding: 1em;
  width: 90%;
  font-size: 1em;
  text-align: justify;
  text-align-last: center;
}

article.articleLayout section.recettes a.lien_recette, article.articleLayout section.recettes div.suggestion a, article.articleLayout section.recettes div.suggestion:nth-of-type(2) a, article.articleLayout section.recettes div.suggestion:nth-of-type(3) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--blanc);
  text-decoration: none;
  width: 15em;
  height: 3em;
  background-color: var(--vert);
  border-radius: 1em;
}

article.articleLayout section.recettes div.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -10em;
  color: var(--blanc);
}

article.articleLayout section.recettes div.suggestion img {
  width: 100%;
}

article.articleLayout section.recettes div.suggestion h3 {
  display: block;
  text-align: center;
  position: relative;
  top: -14.5em;
  font-size: 2em;
}

article.articleLayout section.recettes div.suggestion p.info_suggestion {
  position: relative;
  bottom: 18em;
}

article.articleLayout section.recettes div.suggestion a {
  position: relative;
  bottom: 18em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(2) {
  margin-bottom: -20em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(2) p.info_suggestion {
  position: relative;
  bottom: 27em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(2) a {
  position: relative;
  bottom: 27em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(3) p.info_suggestion {
  position: relative;
  bottom: 21em;
}

article.articleLayout section.recettes div.suggestion:nth-of-type(3) a {
  position: relative;
  bottom: 21em;
}

/*////[BREAKPOINTS]
________________________________________________________*/
/* TABLETTE VERTICALE */
@media screen and (min-width: 768px) {
  article.articleLayout h1 {
    top: -2em;
  }
  article.articleLayout p.info {
    top: -6em;
    font-size: 1em;
    width: 100%;
  }
  article.articleLayout section.article h2 {
    margin-top: 5em;
    text-align: left;
    font-size: 1.5em;
    margin-left: 1em;
  }
  article.articleLayout section.article p {
    text-align: left;
    text-align-last: left;
    width: 95%;
    margin-left: 1.6em;
  }
  article.articleLayout section.article section.bonheur {
    width: 100vw;
  }
  article.articleLayout section.article section.bonheur h2 {
    text-align: left;
    top: 1em;
    right: 0;
    width: 30em;
  }
  article.articleLayout section.article section.bonheur h2 br {
    display: none;
  }
  article.articleLayout section.article section.bonheur img {
    width: 100%;
  }
  article.articleLayout section.article section.bonheur p {
    text-align: left;
    width: 90%;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    color: var(--blanc);
  }
  article.articleLayout section.promo {
    margin-top: -5em;
    margin-bottom: 1em;
  }
  article.articleLayout section.promo img {
    height: 11em;
  }
  article.articleLayout section.recettes h2 {
    text-align: left;
    font-size: 1.5em;
    margin-left: 0;
  }
  article.articleLayout section.recettes p {
    text-align: left;
    text-align-last: left;
    margin-left: -1em;
  }
}

/* TABLETTE HORIZONTALE */
/* DESKTOP */
/* Gallerie d'images */
/* Login */
/*# sourceMappingURL=style.css.map */