/*////[LAYOUT DE L'ARTICLE]
________________________________________________________*/
article.articleLayout {
    @include display_flex_column_center;
    padding-top: 25em;

    margin: {
        left: 1.5em;
        right: 1.5em;
    }

    & span {
        font-size: 16em;
        font-family: Seymour One;
        color: var(--blanc);
        -webkit-text-stroke: 5px var(--noir);
        letter-spacing: -0.125em;
        position: absolute;
        top: 0.28em;
    }

    & h3 {
        display: none;
    }

    aside.membre {
        display: none;
    }

    & h1 {
        color: var(--orange);
        font-size: 2.3em;
        text-transform: uppercase;
        font-style: italic;
        position: relative;
        top: -3em;
    }

    & h4 {
        display: none;
    }

    p.info {
        font-size: 1.25em;
        width: 90%;
        text-align: justify;
        text-align-last: center;
        position: relative;
        top: -9.2em;
        font-weight: bolder;
    }

    section.article {
        margin: {
            top: -13em;
        }

        & h2 {
            color: var(--orange);
            font-size: 2.5em;
            text-align: center;  

        }

        & p {
            margin: auto;
            margin-top: -1em;
            width: 90%;
            font-size: 1em;
            text-align: justify;
            text-align-last: center;
        }
    }
    
    section.bonheur {
        margin : {
            top: -8em;
        }

        & h2 {
            text-align: end;
            position: relative;
            top: 3.5em;
            right: 1em;
            line-height: 1.5em;
        }

        & p {
            text-align: end;
            width: 75%;
            position: relative;
            top: -10em;
            right: -1.5em;
            font-weight: bolder;
            background-color: hsla(0, 0%, 100%, 0.75);
        }

        & img {
            width: 75%;
        }
    }

    & section.promo {
        margin-top: -8em;
        margin-bottom: 1em;

        & img {
            height: 6.5em;
        }
    }

    & section.recettes {
        & h2 {
            width: 80%;
            margin: auto;
            margin-top: 1em;
            margin-bottom: -0.5em;
            color: var(--orange);
            font-size: 2em;
            text-align: center;
        }
        
        & p {
            margin: auto;
            padding: 1em;
            width: 90%;
            font-size: 1em;
            text-align: justify;
            text-align-last: center;
        }

        & a.lien_recette {
            @include display_flex_column_center;
            color: var(--blanc);
            text-decoration: none;
            width: 15em;
            height: 3em;
            background-color: var(--vert);
            border-radius: 1em;
        }
        
        & div.suggestion {
            @include display_flex_column_center;
            margin-bottom: -10em;
            color: var(--blanc);
            
            & img {
                width: 100%;
            }
            
            & h3 {
                display: block;
                text-align: center;
                position: relative;
                top: -14.5em;
                font-size: 2em;
            }

            & p.info_suggestion {
                position: relative;
                bottom: 18em;
            }

            & a {
                @extend .lien_recette;
                position: relative;
                bottom: 18em;
            }
        }

        & div.suggestion:nth-of-type(2) {
            margin-bottom: -20em;
            & p.info_suggestion {
                position: relative;
                bottom: 27em;
            }

            & a {
                @extend .lien_recette;
                position: relative;
                bottom: 27em;
            }
        }

        & div.suggestion:nth-of-type(3) {
            & p.info_suggestion {
                position: relative;
                bottom: 21em;
            }

            & a {
                @extend .lien_recette;
                position: relative;
                bottom: 21em;
            }
        }
    }
}

/*////[BREAKPOINTS]
________________________________________________________*/

/* TABLETTE VERTICALE */

@media screen and (min-width: 768px) {
    article.articleLayout {

        & h1 {
            top: -2em;
        }

        & p.info {
            top: -6em;
            font-size: 1em;
            width: 100%;
        }

        & section.article {

            & h2 {
                margin-top: 5em;
                text-align: left;
                font-size: 1.5em;
                margin-left: 1em;
            }

            & p {
                text-align: left;
                text-align-last: left;
                width: 95%;
                margin-left: 1.6em;
            }

            & section.bonheur {
                width: 100vw;
                & h2 {
                    text-align: left;
                    top: 1em;
                    right: 0;
                    width: 30em;

                    & br {
                        display: none;
                    }
                }

                & img {
                    width: 100%;
                }

                & p {
                    text-align: left;
                    width: 90%;
                    right: 0;
                    background-color: hsla(0, 0%, 100%, 0);
                    color: var(--blanc);
                }
            }

        }

        section.promo {
            
            margin-top: -5em;
            margin-bottom : 1em;

            & img {
                height: 11em;
            }
        }

        section.recettes {
            & h2 {
                text-align: left;
                font-size: 1.5em; 
                margin-left: 0;
            }

            & p {
                text-align: left;
                text-align-last: left;
                margin-left: -1em;
            }
        }
    }
}

/* TABLETTE HORIZONTALE */

@media screen and (min-width: 1024px) {

}

/* DESKTOP */

@media screen and (min-width: 1920px) {

}