/*////[HEADER]
________________________________________________________*/

header {
    @include display_flex_column_center;
    width: 100%;
    padding: 2em;
    position: fixed;
    top: 0;
    background-color: var(--blanc);
    z-index: 100;

    & a {
        width: 15em;
        z-index: 1000;
    }

    & i.material-icons {
        display: block;
        font-size: 3em;
        position: absolute;
        top: 0.4em;
        left: 0.4em;
    }
}

/*////[BREAKPOINTS]
________________________________________________________*/

/* DESKTOP */

@media screen and (min-width: 1920px) {
    header {
        background-image: url(../01_Images/restaurant_1920x621.jpg);
        background-size: cover;
        background-position: center;
        height: 30em;
        z-index: 0;
        position: unset;

        & i.material-icons {
            display: none;
        }

        & a {
            width: 35%;
            margin-top: -15em;
        }
    }
}
