/* Header */

header {
    @include display_flex_column_center;
    width: 100%;
    padding: 2em;

    & a {
        width: 20em;
    }

    & i.material-icons {
        font-size: 4em;
        position: absolute;
        top: 0.25em;
        left: 0.25em;
    }
}