/* Liste des produits */
section {
    & h1 {
        display: none;
    }

    & ul {
        @include display_flex_column_center;
        width: 85%;

        & li {
            list-style-type: none;
            text-align: right;

            & h2 {
                font-size: 2.5em;
                font-weight: 700;
                font-style: italic;
                color: var(--orange);
            }

            & img {
                display: block;
            }
        }
    }

}