//----------------------------------------------------//
//                                                    //
//            // Navigation Principale //             //
//                nav.principlae.scss                 //
//----------------------------------------------------//
/*////[LIENS]
________________________________________________________*/

nav {
    background-color: var(--noir);
    padding: 2em;
    position: absolute;
    top: 0;
    width: 100%;

    & i.material-icons {
        font-size: 4em;
        position: absolute;
        top: 0.25em;
        left: 0.25em;
    }

    & i.close {
        color: var(--orange);
    }

    & ul {
        
        font-size: 2em;
        height: 85vh;
        position: relative;
        top: 5em;
        line-height: 2em;

        & a {
            text-decoration: none;
            color: var(--blanc);
        }

        & li {
            list-style-type: none;

            &::after{
                display: block;
                position: relative;
                top: -10px;
                content: "";
                width: 95%;
                height: 1px;
                background-color: var(--blanc);
            }
        }
    }
}

nav img {
    display: block;
    margin: auto;
    width: 25%;
}