//----------------------------------------------------//
//                                                    //
//            // Navigation Principale //             //
//                nav.principlae.scss                 //
//----------------------------------------------------//
/*////[LIENS]
________________________________________________________*/
@import '_mixin';

nav {    
    background-color: var(--noir);
    & a {
        
        text-decoration: none;
        color: var(--blanc);
        width: 100%;
        height: 100%;

        &:hover {
            background-color: var(--orange);
        }

        & li {
            list-style-type: none;
        }
    }
}